.logo img {
  width: 100%;
  height: auto;
  max-width: 100px;
}

body {
  background: #dddddd;
  min-height: 100vh;
  transition: filter 5s ease; 
  margin: 0;
  overflow-x: hidden;
}

.timer {
  font-family: sans-serif;
  display: inline-block;
  padding: 1.5em 2em;
  border-radius: 30px;
  background: white;
}

.timer__part {
  font-size: 2.25em;
  font-weight: bold;
}

.timer__btn {
  width: 3em;
  height: 3em;
  margin-left: 1em;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

.timer__btn--start {
  background: #00b84c;
}

.timer__btn--stop {
  background: #ff0256;
}

.btn:focus {
  box-shadow: none;
}

.blurred {
  filter: blur(5px);
}

.settings-container {
  width: 90%;
  max-width: 35%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.25em;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

#x_span {
  font-size: 2em;
  color: #666; 
}
#x_span:hover {
  color: black;
  cursor: pointer;
}

hr {
  width: calc(100% + 2.5em);
  border: 0.5px solid rgb(95, 95, 95);
  margin-left: -1.25em;
}

#btn_start:hover {
  filter: brightness(90%);
}

#btn_start {
  text-align: center;
  height: 4.0625em;
  width: 11.5625em;
  cursor: pointer;
  font-size: 1.375em;
  letter-spacing: 0.25em;
  color: #F0F0F0;
  border-radius: 10px;
  border-bottom: 0.25em solid #1f6d18;
  box-shadow: 0.375em 0.375em 0.375em #999;
  transition: all 0.1s linear;
}

#btn_start.active {
  box-shadow: 0.0625em 0.0625em 0.0625em #777;
  border-bottom: 0.0625em solid #c0392b;
  transform: translateY(0.25em);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 0.0625em #2196F3;
}

input:checked + .slider:before {
  transform: translateX(1.625em);
}

.slider.round {
  border-radius: 2.125em;
}

.slider.round:before {
  border-radius: 50%;
}

.blue-background-class {
  background-color: #C8EBFB;
}

.day {
  margin-bottom: 1.25em;
}

.day {
  background-color: peachpuff;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}



#container {
  display: flex;
  align-items: center;
}
#container h1 {
  margin-right: auto;
}

.day h3 {
  width: 20%;
}

.list-group-item {
  height: 3.125em;
  cursor: grab;
  border: 1px solid #ccc;
  margin: 0.3125em;
  padding: 0;
  background-color: #f9f9f9;
  flex-grow: 1;
}

#add_workout_btn {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.625em 1.25em;
  background-color: #4d4d4d;
  color: white;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
}
#add_workout_btn:hover {
  filter: brightness(90%);
}

.remove-workout {
  padding: auto 0.3125em;
}

.list-group-item.workout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.625em;
  border: 1px solid #ccc;
  margin-bottom: 0.625em;
  background-color: #f9f9f9;
}

.workout-name {
  font-weight: bold;
  margin-right: 1.25em;
}

.workout-muscle-groups,
.workout-difficulty {
  color: #555;
  margin: 0 0.625em;
}


.exercise-item-label {
  display: flex;
  flex-direction: column;
}

.exercise-main-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.exercise-instructions {
  margin-top: 10px;
}

.exercise-instructions .dropdown-content {
  display: none;
}

.exercise-instructions .dropdown:hover .dropdown-content {
  display: block;
}


.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown span {
  display: block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 60rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media queries for responsive adjustments */
@media (max-width: 768px) {
  .dropdown {
    width: 100%;
  }
  .dropdown span {
    width: 100%; /* On small screens, the clickable area spans the entire width */
  }

  .dropdown-content {
    min-width: 100%; /* On small screens, the dropdown content spans the entire width */
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Media Queries for mobile devices */
@media (max-width: 768px) {
  .settings-container {
      width: 90%;
      max-width: 90%;
      padding: 1em;
  }
  #btn_start {
      width: 100%;
      font-size: 1em;
  }
  .timer {
      padding: 1em;
  }
  .timer__part {
      font-size: 1.5em;
  }
  .timer__btn {
      width: 2.5em;
      height: 2.5em;
  }

  .day {
    flex-direction: column;
    align-items: flex-start;
  }
}


#reset-reps {
  margin: 10px 0;
}
