{% extends "main/layout.html" %}
{% load static %}



{% block body %}

<style>
	.day {
		background-color: peachpuff;
		height: 60px;
		border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#container {
	display: flex;
    align-items: center;
}
#container h1 {
    margin-right: auto; /* Sposta il titolo a sinistra */
}

/* Stili per il titolo del giorno */
.day h3 {
	
    width: 20%; /* Larghezza fissa del 30% */
}

/* Stili per gli elementi della lista */
.list-group-item {
	height: 50px;
    cursor: grab;
    border: 1px solid #ccc;
    margin: 5px;
	padding: 0;
    
    background-color: #f9f9f9;
    flex-grow: 1; /* Occupa il restante spazio disponibile */
}

#add {
    display: inline-flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    padding: 10px 20px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-workout {
	padding: auto 5px;
}


</style>


<h1>Shedule</h1>

<div class="list-group day" id="monday">
	<h3>Monday</h3>
</div>
<div class="list-group day" id="tuesday">
	<h3>Tuesday</h3>
</div>
<div class="list-group day" id="wednesday">
	<h3>Wednesday</h3>
</div>
<div class="list-group day" id="thursday">
	<h3>Thursday</h3>
</div>
<div class="list-group day" id="friday">
	<h3>Friday</h3>
</div>
<div class="list-group day" id="saturday">
	<h3>Saturday</h3>
</div>
<div class="list-group day" id="sunday">
	<h3>Sunday</h3>
</div>

<div id="container">
	<h1>Workouts</h1>
	<button class="btn" id="add">
		<span class="material-icons">
			add_circle
			</span>
			Add new workout
	</button>
</div>

<div class="list-group" id="example2Left">
	<div class="list-group-item">Workout 1</div>
	<div class="list-group-item">Workout 2</div>
	<div class="list-group-item">Workout 3</div>
</div>
	
<script>
  $(document).ready(() => {
    $.getScript("{% static 'index-bundle.js' %}");
  })
</script>


{% endblock %}